{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings mirror")}}
	<div class="user-main-content twelve wide column">
		{{$newMirrorsPartiallyEnabled := or (not .DisableNewPullMirrors) (not .DisableNewPushMirrors)}}
		{{$showMirrorSettings := and (.Repository.UnitEnabled ctx ctx.Consts.RepoUnitTypeCode) (or $newMirrorsPartiallyEnabled .Repository.IsMirror .PullMirror .PushMirrors)}}
		{{$newMirrorsEntirelyEnabled := and (not .DisableNewPullMirrors) (not .DisableNewPushMirrors)}}
		{{$onlyNewPushMirrorsEnabled := and (not .DisableNewPushMirrors) .DisableNewPullMirrors}}
		{{$onlyNewPullMirrorsEnabled := and .DisableNewPushMirrors (not .DisableNewPullMirrors)}}
		{{$existingPushMirror := or .Repository.IsMirror .PushMirrors}}
		{{$modifyBrokenPullMirror := and .Repository.IsMirror (not .PullMirror)}}
		{{$isWorkingPullMirror := .PullMirror}}

		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "repo.settings.mirror_settings"}}
		</h4>
		<div class="ui attached segment">
			{{if not $showMirrorSettings}}
				<div class="ui message">{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.no_new_mirrors"}}</div>
			{{else if .Repository.IsArchived}}
				<div class="ui warning message tw-text-center">
					{{ctx.Locale.Tr "repo.settings.archive.mirrors_unavailable"}}
				</div>
			{{else}}
				{{if $newMirrorsEntirelyEnabled}}
					{{ctx.Locale.Tr "repo.settings.mirror_settings.docs"}}
					<a target="_blank" href="https://docs.gitea.com/usage/repo-mirror#pushing-to-a-remote-repository">{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.doc_link_title"}}</a><br><br>
					{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.pull_mirror_instructions"}}
					<a target="_blank" href="https://docs.gitea.com/usage/repo-mirror#pulling-from-a-remote-repository">{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.doc_link_pull_section"}}</a><br>
				{{else if $onlyNewPushMirrorsEnabled}}
					{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.disabled_pull_mirror.instructions"}}
					{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.more_information_if_disabled"}}
					<a target="_blank" href="https://docs.gitea.com/usage/repo-mirror#pulling-from-a-remote-repository">{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.doc_link_title"}}</a><br>
				{{else if $onlyNewPullMirrorsEnabled}}
					{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.disabled_push_mirror.instructions"}}
					{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.disabled_push_mirror.pull_mirror_warning"}}
					{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.more_information_if_disabled"}}
					<a target="_blank" href="https://docs.gitea.com/usage/repo-mirror#pulling-from-a-remote-repository">{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.doc_link_title"}}</a><br><br>
					{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.disabled_push_mirror.info"}}
					{{if $existingPushMirror}}{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.can_still_use"}}{{end}}
				{{else}}
					{{ctx.Locale.Tr "repo.settings.mirror_settings.docs.no_new_mirrors"}} {{ctx.Locale.Tr "repo.settings.mirror_settings.docs.can_still_use"}}<br>
				{{end}}

				{{if .Repository.IsMirror}}
				<table class="ui table">
					<thead>
						<tr>
							<th class="tw-w-2/5">{{ctx.Locale.Tr "repo.settings.mirror_settings.mirrored_repository"}}</th>
							<th>{{ctx.Locale.Tr "repo.settings.mirror_settings.direction"}}</th>
							<th>{{ctx.Locale.Tr "repo.settings.mirror_settings.last_update"}}</th>
							<th></th>
						</tr>
					</thead>
					{{if $modifyBrokenPullMirror}}
						<tbody>
							<tr><td colspan="4"><div class="tw-text-red tw-py-4">{{ctx.Locale.Tr "repo.settings.mirror_settings.direction.pull"}}: {{ctx.Locale.Tr "error.occurred"}}</div></td></tr>
						</tbody>
					{{else if $isWorkingPullMirror}}
					<tbody>
						<tr>
							<td>{{.PullMirror.RemoteAddress}}</td>
							<td>{{ctx.Locale.Tr "repo.settings.mirror_settings.direction.pull"}}</td>
							<td>{{DateUtils.FullTime .PullMirror.UpdatedUnix}}</td>
							<td class="tw-text-right">
								<form method="post" class="tw-inline-block">
									<input type="hidden" name="action" value="mirror-sync">
									<button class="ui primary tiny button inline">{{ctx.Locale.Tr "repo.settings.sync_mirror"}}</button>
								</form>
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<form class="ui form" method="post">
									{{template "base/disable_form_autofill"}}
									<input type="hidden" name="action" value="mirror">
									<div class="inline field {{if .Err_EnablePrune}}error{{end}}">
										<label>{{ctx.Locale.Tr "repo.mirror_prune"}}</label>
										<div class="ui checkbox">
											<input id="enable_prune" name="enable_prune" type="checkbox" {{if .PullMirror.EnablePrune}}checked{{end}}>
											<label>{{ctx.Locale.Tr "repo.mirror_prune_desc"}}</label>
										</div>
									</div>
									<div class="inline field {{if .Err_Interval}}error{{end}}">
										<label for="interval">{{ctx.Locale.Tr "repo.mirror_interval" .MinimumMirrorInterval}}</label>
										<input id="interval" name="interval" value="{{.PullMirror.Interval}}">
									</div>
									{{$address := MirrorRemoteAddress ctx .Repository .PullMirror.GetRemoteName}}
									<div class="field {{if .Err_MirrorAddress}}error{{end}}">
										<label for="mirror_address">{{ctx.Locale.Tr "repo.mirror_address"}}</label>
										<input id="mirror_address" name="mirror_address" value="{{$address.Address}}" required>
										<p class="help">{{ctx.Locale.Tr "repo.mirror_address_desc"}}</p>
									</div>
									<details class="ui optional field" {{if or .Err_Auth $address.Username}}open{{end}}>
										<summary class="tw-p-1">{{ctx.Locale.Tr "repo.need_auth"}}</summary>
										<div class="tw-p-1">
											<div class="inline field {{if .Err_Auth}}error{{end}}">
												<label for="mirror_username">{{ctx.Locale.Tr "username"}}</label>
												<input id="mirror_username" name="mirror_username" value="{{$address.Username}}" {{if not .mirror_username}}data-need-clear="true"{{end}}>
											</div>
											<div class="inline field {{if .Err_Auth}}error{{end}}">
												<label for="mirror_password">{{ctx.Locale.Tr "password"}}</label>
												<input id="mirror_password" name="mirror_password" type="password" placeholder="{{if $address.Password}}{{ctx.Locale.Tr "repo.mirror_password_placeholder"}}{{else}}{{ctx.Locale.Tr "repo.mirror_password_blank_placeholder"}}{{end}}" value="" {{if not .mirror_password}}data-need-clear="true"{{end}} autocomplete="off">
											</div>
											<p class="help">{{ctx.Locale.Tr "repo.mirror_password_help"}}</p>
										</div>
									</details>
									{{if .LFSStartServer}}
									<div class="inline field">
										<label>{{ctx.Locale.Tr "repo.mirror_lfs"}}</label>
										<div class="ui checkbox">
											<input id="mirror_lfs" name="mirror_lfs" type="checkbox" {{if .PullMirror.LFS}}checked{{end}}>
											<label>{{ctx.Locale.Tr "repo.mirror_lfs_desc"}}</label>
										</div>
									</div>
									<div class="field {{if .Err_LFSEndpoint}}error{{end}}">
										<label for="mirror_lfs_endpoint">{{ctx.Locale.Tr "repo.mirror_lfs_endpoint"}}</label>
										<input id="mirror_lfs_endpoint" name="mirror_lfs_endpoint" value="{{.PullMirror.LFSEndpoint}}" placeholder="{{ctx.Locale.Tr "repo.migrate_options_lfs_endpoint.placeholder"}}">
										<p class="help">{{ctx.Locale.Tr "repo.mirror_lfs_endpoint_desc" "https://github.com/git-lfs/git-lfs/blob/main/docs/api/server-discovery.md#server-discovery"}}</p>
									</div>
									{{end}}
									<div class="field">
										<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.update_mirror_settings"}}</button>
									</div>
								</form>
							</td>
						</tr>
					</tbody>
					{{end}}
				</table>
				{{end}}

				<table class="ui table">
					<thead>
						<tr>
							<th class="tw-w-2/5">{{ctx.Locale.Tr "repo.settings.mirror_settings.pushed_repository"}}</th>
							<th>{{ctx.Locale.Tr "repo.settings.mirror_settings.direction"}}</th>
							<th>{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.mirror_branches_column"}}</th>
							<th>{{ctx.Locale.Tr "repo.settings.mirror_settings.last_update"}}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{range .PushMirrors}}
						<tr>
							<td class="tw-break-anywhere">
								<div>{{.RemoteAddress}}</div>
								{{if and (eq .AuthType "ssh") .SSHPublicKey}}
									<div class="ui action input tw-mt-2 tw-w-full">
										<input id="push-mirror-public-key-{{.ID}}" value="{{.SSHPublicKey}}" readonly>
										<button type="button" class="ui icon button" data-clipboard-target="#push-mirror-public-key-{{.ID}}" data-tooltip-content="{{ctx.Locale.Tr "copy"}}">{{svg "octicon-copy" 14}}</button>
									</div>
									<p class="help">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_public_key_desc"}}</p>
								{{end}}
							</td>
							<td>{{ctx.Locale.Tr "repo.settings.mirror_settings.direction.push"}} ({{.Interval}})</td>
							<td>{{if .MirrorBranches}}{{.MirrorBranches}}{{else}}{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.mirror_branches_all"}}{{end}}</td>
							<td>
								<span class="flex-text-block">
									{{if .LastUpdateUnix}}{{DateUtils.FullTime .LastUpdateUnix}}{{else}}{{ctx.Locale.Tr "never"}}{{end}}
									{{if .LastError}}<span class="ui red label" data-tooltip-content="{{.LastError}}">{{ctx.Locale.Tr "error_title"}}</span>{{end}}
								</span>
							</td>
							<td class="tw-text-right">
								<button
									class="ui tiny button show-modal"
									data-modal="#push-mirror-edit-modal"
									data-tooltip-content="{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.edit_sync_time"}}"
									data-modal-push-mirror-edit-id="{{.ID}}"
									data-modal-push-mirror-edit-interval="{{.Interval}}"
									data-modal-push-mirror-edit-address="{{.RemoteAddress}}"
									data-modal-push-mirror-edit-address-input="{{.RemoteAddress}}"
									data-modal-push-mirror-edit-auth-type="{{.AuthType}}"
									data-modal-push-mirror-edit-ssh-public-key="{{.SSHPublicKey}}"
									data-modal-push-mirror-edit-ssh-host-key-policy-value="{{.SSHHostKeyPolicy}}"
									data-modal-push-mirror-edit-ssh-known-hosts-line="{{.SSHKnownHostFingerprint}}"
									data-modal-push-mirror-edit-sync-on-commit.checked="{{if .SyncOnCommit}}true{{else}}false{{end}}"
									data-modal-push-mirror-edit-deploy-stamp-enabled.checked="{{if .DeployStampEnabled}}true{{else}}false{{end}}"
									data-modal-push-mirror-edit-branches="{{.DeployStampBranches}}"
									data-modal-push-mirror-edit-mirror-branches="{{.MirrorBranches}}"
									data-modal-push-mirror-edit-author-name="{{.DeployStampAuthorName}}"
									data-modal-push-mirror-edit-author-email="{{.DeployStampAuthorEmail}}"
									data-modal-push-mirror-edit-commit-message="{{.DeployStampCommitMessage}}"
									data-modal-push-mirror-edit-record-file-enabled.checked="{{if .RecordFileEnabled}}true{{else}}false{{end}}"
									data-modal-push-mirror-edit-record-file-branches="{{.RecordFileBranches}}"
									data-modal-push-mirror-edit-record-file-path="{{.RecordFilePath}}"
									data-modal-push-mirror-edit-record-file-template="{{.RecordFileTemplate}}"
									data-modal-push-mirror-edit-record-file-author-name="{{.RecordFileAuthorName}}"
									data-modal-push-mirror-edit-record-file-author-email="{{.RecordFileAuthorEmail}}"
									data-modal-push-mirror-edit-record-file-commit-message="{{.RecordFileCommitMessage}}"
								>
									{{svg "octicon-pencil" 14}}
								</button>
								<form method="post" class="tw-inline-block">
									<input type="hidden" name="action" value="push-mirror-sync">
									<input type="hidden" name="push_mirror_id" value="{{.ID}}">
									<button class="ui primary tiny button" data-tooltip-content="{{ctx.Locale.Tr "repo.settings.sync_mirror"}}">{{svg "octicon-sync" 14}}</button>
								</form>
								<form method="post" class="tw-inline-block">
									<input type="hidden" name="action" value="push-mirror-remove">
									<input type="hidden" name="push_mirror_id" value="{{.ID}}">
									<button class="ui basic red tiny button" data-tooltip-content="{{ctx.Locale.Tr "remove"}}">{{svg "octicon-trash" 14}}</button>
								</form>
							</td>
						</tr>
						{{else}}
						<tr><td colspan="5">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.none"}}</td></tr>
						{{end}}
						{{if (not .DisableNewPushMirrors)}}
							<tr>
								<td colspan="5">
									<form class="ui form js-push-mirror-form" method="post">
										{{template "base/disable_form_autofill"}}
										<input type="hidden" name="action" value="push-mirror-add">
										<div class="ui segment">
											<h4 class="ui dividing header">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.basic_settings"}}</h4>
											<div class="field {{if .Err_PushMirrorAddress}}error{{end}}">
												<label for="push_mirror_address">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.remote_url"}}</label>
												<input id="push_mirror_address" name="push_mirror_address" value="{{.push_mirror_address}}" required>
												<p class="help">{{ctx.Locale.Tr "repo.mirror_address_desc"}}</p>
											</div>
											<div class="field {{if .Err_PushMirrorAuth}}error{{end}}">
												<label>{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.auth_type"}}</label>
												<div class="inline fields">
													<div class="field">
														<div class="ui radio checkbox">
															<input id="push_mirror_auth_type_https" name="push_mirror_auth_type" type="radio" value="https" {{if ne .push_mirror_auth_type "ssh"}}checked{{end}}>
															<label for="push_mirror_auth_type_https">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.auth_type_https"}}</label>
														</div>
													</div>
													<div class="field">
														<div class="ui radio checkbox">
															<input id="push_mirror_auth_type_ssh" name="push_mirror_auth_type" type="radio" value="ssh" {{if eq .push_mirror_auth_type "ssh"}}checked{{end}}>
															<label for="push_mirror_auth_type_ssh">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.auth_type_ssh"}}</label>
														</div>
													</div>
												</div>
											</div>
											<div class="js-push-mirror-auth-panel" data-auth-type="https">
												<div class="two fields">
													<div class="field {{if .Err_PushMirrorAuth}}error{{end}}">
														<label for="push_mirror_username">{{ctx.Locale.Tr "username"}}</label>
														<input id="push_mirror_username" name="push_mirror_username" value="{{.push_mirror_username}}">
													</div>
													<div class="field {{if .Err_PushMirrorAuth}}error{{end}}">
														<label for="push_mirror_password">{{ctx.Locale.Tr "password"}}</label>
														<input id="push_mirror_password" name="push_mirror_password" type="password" value="{{.push_mirror_password}}" autocomplete="off">
													</div>
												</div>
												<p class="help">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.auth_type_https_desc"}}</p>
											</div>
											<div class="js-push-mirror-auth-panel" data-auth-type="ssh">
												<div class="field {{if .Err_PushMirrorAuth}}error{{end}}">
													<label>{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_key_mode"}}</label>
													<div class="inline fields">
														<div class="field">
															<div class="ui radio checkbox">
																<input id="push_mirror_ssh_key_mode_generate" name="push_mirror_ssh_key_mode" type="radio" value="generate" {{if ne .push_mirror_ssh_key_mode "manual"}}checked{{end}}>
																<label for="push_mirror_ssh_key_mode_generate">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_key_mode_generate"}}</label>
															</div>
														</div>
														<div class="field">
															<div class="ui radio checkbox">
																<input id="push_mirror_ssh_key_mode_manual" name="push_mirror_ssh_key_mode" type="radio" value="manual" {{if eq .push_mirror_ssh_key_mode "manual"}}checked{{end}}>
																<label for="push_mirror_ssh_key_mode_manual">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_key_mode_manual"}}</label>
															</div>
														</div>
													</div>
												</div>
												<div class="ui info message js-push-mirror-ssh-key-mode-panel" data-ssh-key-mode="generate">
													{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_key_mode_generate_desc"}}
												</div>
												<div class="field {{if .Err_PushMirrorAuth}}error{{end}} js-push-mirror-ssh-key-mode-panel" data-ssh-key-mode="manual">
													<label for="push_mirror_ssh_private_key">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_private_key"}}</label>
													<textarea id="push_mirror_ssh_private_key" name="push_mirror_ssh_private_key" rows="5">{{.push_mirror_ssh_private_key}}</textarea>
												</div>
												<div class="two fields">
													<div class="field {{if .Err_PushMirrorAuth}}error{{end}}">
														<label for="push_mirror_ssh_host_key_policy">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_host_key_policy"}}</label>
														<select id="push_mirror_ssh_host_key_policy" name="push_mirror_ssh_host_key_policy">
															<option value="fingerprint" {{if ne .push_mirror_ssh_host_key_policy "accept_new"}}selected{{end}}>{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_host_key_policy_fingerprint"}}</option>
															<option value="accept_new" {{if eq .push_mirror_ssh_host_key_policy "accept_new"}}selected{{end}}>{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_host_key_policy_accept_new"}}</option>
														</select>
													</div>
													<div class="field {{if .Err_PushMirrorAuth}}error{{end}}">
														<label for="push_mirror_ssh_known_hosts_line">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.ssh_known_hosts_line"}}</label>
														<input id="push_mirror_ssh_known_hosts_line" name="push_mirror_ssh_known_hosts_line" value="{{.push_mirror_ssh_known_hosts_line}}">
													</div>
												</div>
											</div>
										</div>
										<div class="ui segment">
											<h4 class="ui dividing header">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.sync_settings"}}</h4>
											<div class="field {{if .Err_PushMirrorMirrorBranches}}error{{end}}">
												<label for="push_mirror_mirror_branches">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.mirror_branches"}}</label>
												<input id="push_mirror_mirror_branches" name="push_mirror_mirror_branches" value="{{.push_mirror_mirror_branches}}" placeholder="develop, main">
												<p class="help">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.mirror_branches_desc"}}</p>
											</div>
											<div class="two fields">
												<div class="field {{if .Err_PushMirrorInterval}}error{{end}}">
													<label for="push_mirror_interval">{{ctx.Locale.Tr "repo.mirror_interval" .MinimumMirrorInterval}}</label>
													<input id="push_mirror_interval" name="push_mirror_interval" value="{{if .push_mirror_interval}}{{.push_mirror_interval}}{{else}}{{.DefaultMirrorInterval}}{{end}}">
												</div>
												<div class="field">
													<label>&nbsp;</label>
													<div class="ui checkbox">
														<input id="push_mirror_sync_on_commit" name="push_mirror_sync_on_commit" type="checkbox" {{if .push_mirror_sync_on_commit}}checked{{end}}>
														<label for="push_mirror_sync_on_commit">{{ctx.Locale.Tr "repo.mirror_sync_on_commit"}}</label>
													</div>
												</div>
											</div>
										</div>
										<div class="ui segment">
											<h4 class="ui dividing header">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.advanced_settings"}}</h4>
											{{template "repo/settings/push_mirror_extra_fields" .}}
										</div>
										<div class="field">
											<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.mirror_settings.push_mirror.add"}}</button>
										</div>
									</form>
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>
			{{end}}
		</div>
	</div>
{{template "repo/settings/layout_footer" .}}

{{template "repo/settings/push_mirror_sync_modal" .}}
